.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 920px;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
  }