.header__square-pic {
    height: 568px;
    width: 568px;
    display: flex;
    position: absolute;
    background-color: #2f80ed;
    align-self: flex-end;
    right: 0;
    top: 64px;
    transform: rotate(15deg);  
   /* styles for header__square-pic */
  }