.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
 /* parameters for the header section */
}

.logo {
  width: 154px;
  height: 31px;
  display: flex;
  z-index: 100;
 /* parameters for the logo*/
}

.logo_place_header {
  top: 30px;
  position: absolute;
  left: 64px;
}

.header__title {
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  text-align: left;
  display: flex;
  margin-left: 64px;
  z-index: 100;
  font-weight: bold;
 /* parameters for the header title */
}

.header__subtitle {
  width: 388px;
  bottom: 30px;
  flex-wrap: wrap;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  display: flex;
  left: 64px;
  z-index: 100;
  font-weight: normal;
  margin: 0;
 /* parameters for the header subtitle */
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
 /*color for header link*/
}

.header__main-ilustration {
  position: absolute;
  height: 608px;
  width: 756px;
  bottom: 0;
  right: 0;
  z-index: 100;
 /* parameters for the header ilustration */
}

.header__square-pic {
  height: 568px;
  width: 568px;
  display: flex;
  position: absolute;
  background-color: #2f80ed;
  align-self: flex-end;
  right: 0;
  top: 64px;
 /* styles for header__square-pic */
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.description {
  margin: 100px auto 0;
  width: 100%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.two-columns__paragraph {
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 0 auto 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  margin: 100px auto 100px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.section-title {
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
}

.table__cell {
  display: flex;
  width: 250px;
  padding: unset;
  flex-direction: column;
  margin-top: 60px;
}

.table__heading {
  display: flex;
  align-self: flex-start;
  line-height: 1.15;
  font-size: 24px;
  padding: unset;
  margin: 0;
  font-weight: bold;
}

.table__text {
  display: flex;
  align-self: flex-start;
  left: 0;
  line-height: 1.2;
  font-size: 18px;
  padding: unset;
  margin: 0;
  margin-top: 20px;
  font-weight: normal;
}

.feynman {
  position: relative;
  margin: 0;
  min-height: 790px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
}

.feynman__title {
  text-align: center;
  width: 775px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  margin-top: 0px;
  z-index: 100;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  z-index: 100;
  margin: 0;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  right: 48px;
  top: 50%;
  font-weight: normal;
  text-decoration: none;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  }

.kaufman {
  padding: 90px 0;
  position: relative;
  display: flex;
  background-color: #1f1f1f;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  font-size: 60px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  height: 636px;
  width: 660px;
  top: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  width: 100%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-height: inherit;
}

.footer__column_content_copyrights {
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.footer__column_content_about {
  flex-direction: column;
  margin: 0 auto;
  display: flex;  
}

.footer__column_content_social {
  flex-direction: column;
  margin: 0 auto;
  display: flex;
}

.footer__social-icons {
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-weight: normal;
}

.logo_place_footer {
  width: 180px;
  height: 36px;
}